  
  .map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
  }
  
  .map-info {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .map-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .map-info h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100px;
    background-color: blue;
  }
  
  .map-info p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
  }
  
  .map-iframe iframe {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  
  .map-iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  @media screen and (min-width: 768px)  {
    .map-info {
      width: 50%;
      padding: 40px;
    }
  
    .map-iframe {
      width: 50%;
    }
  }
  