.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.restaurant {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
}

.restaurant strong {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.info {
    margin-top: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}
