/*Colors and styling */
:root {
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor:hsl(187,85%,43%);
    --gradientColor:linear-gradient(to right, hsl(187,85%,43%), hsl(199,100%,33%));
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(199,100%,33%);
    --greyColor:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBg:rgb(255,255,255);
    --cardHover:rgba(255, 255, 255, 0.767);
  }
  
  .mainShortcut {
    width: 100%;
  }
  .mainShortcut .secTitle .title {
    position: relative;
    width: -moz-max-content;
    width: max-content;
    color: black;
    margin: 1rem 0;
    z-index: 2;
  }
  .mainShortcut .secTitle .title::after {
    position: absolute;
    content: "";
    background: var(--SecondaryColor);
    height: 5px;
    width: 120px;
    right: 0;
    bottom: 5px;
    
  }
  .mainShortcut .secContent {
    justify-content: center;
    gap: 1.5rem;
  }
  .mainShortcut .secContent .singleDestination {
    height: 100%;
    display: grid;
    row-gap: 10px;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    background: var(--cardBg);
    box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
    overflow: hidden;
  }
  .mainShortcut .secContent .singleDestination:hover {
    background: rgba(255, 255, 255, 0.315);
    box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
    transition: 0.3s ease;
  }
  .mainShortcut .secContent .singleDestination .imageDiv {
    height: 180px;
    width: 100%;
    overflow: hidden;
  }
  .mainShortcut .secContent .singleDestination .imageDiv img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 2s ease;
  }
  .mainShortcut .secContent .singleDestination .imageDiv:hover img {
    transform: scale(1.1);
  }
  .mainShortcut .secContent .singleDestination .cardInfo {
    padding: 1rem;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .destTitle {
    color: var(--blackColor);
    font-size: 1.25rem;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .continent {
    gap: 0.5rem;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .continent .icon {
    color: var(--textColor);
    font-size: 18px;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .continent .name {
    color: var(--textColor);
    font-weight: 400;
    font-size: 14px;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .fees {
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .fees .grade {
    color: var(--textColor);
    max-width: 100px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .fees .grade small {
    text-align: center;
    background: var(--gradientColor);
    border-radius: 1rem;
    color: var(--whiteColor);
    padding: 1px 10px;
    font-size: 10px;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .fees .price {
    font-size: 2rem;
    color: var(--blackColor);
  }
  .mainShortcut .secContent .singleDestination .cardInfo .desc {
    font-size: 13.5px;
    color: var(--textColor);
    font-weight: 500;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .btn {
    margin-top: 1rem;
    color: var(--whiteColor);
    font-weight: 600;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .mainShortcut .secContent .singleDestination .cardInfo .btn .icon {
    align-self: center;
    font-size: 18px;
  }
  
  @media screen and (min-width: 500px) {
    .mainShortcut .title {
      font-size: 1.5rem;
    }
    .mainShortcut .title::after {
      width: 115px !important;
    }
    .mainShortcut .secContent {
      grid-template-columns: repeat(2, 1fr);
    }
    .mainShortcut .secContent .singleDestination {
      height: auto;
    }
  }
  @media screen and (min-width: 840px) {
    .mainShortcut .secContent {
      grid-template-columns: repeat(3, 1fr);
    }
    .mainShortcut .secContent .singleDestination {
      height: auto;
    }
  }