.relative {
    position: relative;
  }
  .slide-img {
    /* padding-top: 60px; */
    width: 100%;
  }
  .slide-content {
    position: absolute;
    top: 25%;
    left: 8rem;
    color: #070404;
    /* text-shadow: 2px 2px #000; */
    font-size: 16px;
    font-weight: 700;
    max-width: 40%;
  }
  .slide-title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .slide-description {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .slide-button {
    background-color: #333;
    color: #fff;
    font-size: 13px;
    padding: 8px 20px;
    border: none;
    margin-top: 20px;
  }
  
  #slideBox{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
  }

  #button{
    margin-left: 20px;
    margin-bottom: 10px;
  }


  /* */
.button-slide {
    top: 50%;
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: #000;
    grid-template-columns: 1fr;
    place-items: center;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
    color: #fff;
    font-size: 32px;
  }
  
  .button-prev-slide {
    left: -23rem;
  }
  
  .button-next-slide {
    right: -23rem;
  }
  
  .button-prev-slide:hover {
    left: 0;
  }
  
  .button-next-slide:hover {
    right: 0;
  }
  